/*------------------*/
#sidebar{
    background: #4f5b69;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
}

.sidebar-header{
    font-size:200%;
}

.topbar-left{
    color: black;
}

.topbar-right{
    color: black;
}

.panel.content-header{
    color: white;
    background: #1F93C7;
}

.notice{
    margin-top: 4%;
}

.nav.navbar-top-links{
    width: auto;
    margin-top: -2%;
}
.navbar-top-link-header{
    border-right: 2px solid;
    width:auto
}

li.active{
    border-bottom: 2px solid;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

li.active a i{
    color: white;
}

.sidebar-header strong{
    color: white;
}

i.star{
    color: #c69500;
}

#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

nav.navbar.navbar-default{
    background: #FFFFFF;
}

.thumbnail.calendar{
    background: #EEEEEE;
}

.panel.list-word{
    background: #EEEEEE;
}

ul.list-work{
    list-style: none;
    border-left: 2px solid #2e2e2e;
    padding-left: 40px;
}

ul.list-work li {
    margin-bottom: 20px;
    position: relative;
}
ul.list-work li::before {
    display: block;
    content:'';
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    position:absolute;
    top: 2px;
    left: -48.5px;
}

/*ul.list-word li::after{*/
    /*content: :D";*/
    /*color: red;*/
    /*position:absolute;*/
/*}*/

ul.list-work li.past::before{
    background: #6c757d;
}

.part-paragraph{
    color: #9AA0B8;
}

p.calendar-num{
    text-align: center;
    font-size:600%;
}

p.calendar-num.todo{
    color: #0c5460;
}

p.calendar-num.miss{
    color: red;
}

p.calendar-num.problem{
    color: #c69500
}

p.calendar-num.today{
    color: deepskyblue;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}


#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #0c0c0c;
    color: white;
    clear: both;
    text-align: center;
}




/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position,
   translateX(50%) works with right: 50%
   to accurately  center the arrow */
#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
}


@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }


    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0;
    }


    /* Toggling the sidebar header content,
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position,
      translateX(50%) works with right: 50%
      to accurately  center the arrow */
    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        transform: translateX(50%);
    }
}
