/*------------------*/
.navbar-top-link-header{
    border-right: 2px solid;
    width:auto
}

li.active{
    border-bottom: 2px solid;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

li.active a i{
    color: white;
}

.sidebar-header strong{
    color: white;
}

i.star{
    color: #c69500;
}

#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

nav.navbar.navbar-default{
    background: #FFFFFF;
}

.thumbnail.calendar{
    background: #EEEEEE;
}

.panel.list-word{
    background: #EEEEEE;
}

ul.list-work{
    list-style: none;
    border-left: 2px solid #2e2e2e;
    padding-left: 40px;
}

ul.list-work li {
    margin-bottom: 20px;
    position: relative;
}
ul.list-work li::before {
    display: block;
    content:'';
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    position:absolute;
    top: 2px;
    left: -48.5px;
}

/*ul.list-word li::after{*/
    /*content: :D";*/
    /*color: red;*/
    /*position:absolute;*/
/*}*/

ul.list-work li.past::before{
    background: #6c757d;
}

p.calendar-num{
    text-align: center;
    font-size:600%;
}

p.calendar-num.todo{
    color: #0c5460;
}

p.calendar-num.miss{
    color: red;
}

p.calendar-num.problem{
    color: #c69500
}

p.calendar-num.today{
    color: deepskyblue;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}


#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    transform: translateX(50%);
}
